{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <h2 class="text-white">🚀 IKIPIKI App</h2>

  <div class="ms-auto">
    <a href="#" class="btn btn-outline-light me-2">Login</a>
    <a href="#" class="btn btn-success">Register</a>
  </div>
</nav>

<section class="hero-section d-flex align-items-center text-center">
  <div class="container text-white">
    <h1 class="display-3 fw-bold">Hallo, Ini Django Piki</h1>
    <p class="lead mt-3">Let's Go🔥</p>

    <a href="#" class="btn btn-success btn-lg mt-4">Get Started</a>
  </div>
</section>

<section class="container py-5">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="card feature-card p-4">
        <h3>⚡ Be Fast!</h3>
        <p>Menjadi Superman</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card feature-card p-4">
        <h3>🔐 Auto Secure</h3>
        <p>Keamanan Keren</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card feature-card p-4">
        <h3>📊 Dashboard</h3>
        <p>ASOLOLEEEE</p>
      </div>
    </div>
  </div>
</section>

<footer class="text-center py-4 bg-dark text-white">
  © 2026 - Built with Django
</footer>

{% endblock %}